<script type="text/template" id="tempPluList">
    @*商品列表模板*@
    <%for(var i=10*(curPage-1);i<10*(curPage-1)+10 && i<pluList.length;i++){%>
    <div class="list-group-item media">
        <div class="list-group-item-body">
            <img class="media-object col-xs-3" src="../Content/images/<%=pluList[i].PluImage%>.jpg">
            <div class="col-xs-8 col-xs-offset-1">
                <h4 class="media-heading"><%=pluList[i].PluCode+' - '+pluList[i].PluName+'&nbsp;&nbsp;条码:'+pluList[i].BarCode%></h4>
                <div class="row">
                    <div class="col-xs-6">
                        <h4>原售价：<span class="label label-primary">￥<%=pluList[i].Price%></span></h4>
                        <h4>会员价：<span class="label label-danger">￥<%=pluList[i].HyPrice%></span></h4>
                    </div>
                    <div class="col-xs-6">
                        <h4>单位：<%=pluList[i].Unit%></h4>
                        <h4>规格：<%=pluList[i].Spec%></h4>
                    </div>             
                </div>
                <div class="row">
                    <div>
                        <h4><%=pluList[i].Brief%></h4>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-xs-4 pull-right">
                        <a class="btn btn-primary" onclick="new function(){router.navigate('sale/<%=i%>',{trigger:true,replace:true});}">&nbsp;&nbsp;购&nbsp;&nbsp;&nbsp;&nbsp;买&nbsp;&nbsp;</a>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    <% }%>
    <center>
             <ul class="pagination">
                 <%if(curPage==1){%>
                <li class="disabled"><a>&laquo;</a></li>
                 <%}else {%>
                 <li><a href="#goToPage/<%=parseFloat(curPage)-1%>">&laquo;</a></li>
                 <%}%>
                 <% var firstPage=curPage-4 ;%>
                 <% if(firstPage>maxPage-9){%>
                 <%     firstPage=maxPage-9; %>
                 <%}%>
                 <% if(firstPage<=0){ %>
                 <%     firstPage=1;%>
                 <% }%>
                 <% for(var i=firstPage;i<=curPage+5 && i<=maxPage;i++){ %>
                    <% if(i==curPage){%>
                   <li class="active"><a><%=i%></a></li>
                    <% }else {%>
                   <li><a href="#goToPage/<%=i%>"><%=i%></a></li>
                    <% }%>
                 <%}%>
                 <%if(10*curPage>pluList.length){%>
                <li class="disabled"><a>&raquo;</a></li>
                 <%} else {%>
                  <li><a href="#goToPage/<%=parseFloat(curPage)+1%>">&raquo;</a></li>
                 <%}%>
            </ul>
        </center>
</script>

<script id="tempPluModal" type="text/template">
    <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                   <h4 class="modal-title text-info" id="modal_pluName"><%=PluCode%> - <%=PluName%></h4>
               </div>
               <div class="modal-body">
                   <div class="row">
                       <div class="input-group">
                           <span class="input-group-addon">数量</span>
                           <input type="text" id="modal_xsCount" class="form-control" placeholder="数量" value="1"/>
                           <span class="input-group-addon"><%=Unit==""?"件":Unit%></span>
                       </div>
                   </div>
                   <div class="row">
                       <div class="input-group">
                           <span class="input-group-addon">原价</span>
                           <input type="text" id="modal_price" class="form-control" placeholder="原售价" value="<%=Price%>" <%=Price!=0?"readonly":""%>/>
                           <span class="input-group-addon">元</span>
                       </div>
                   </div>
                   <div class="row">
                       <div class="input-group">
                           <span class="input-group-addon">现价</span>
                           <input type="text" id="modal_fsPrice" class="form-control" placeholder="会员价" value="<%=HyPrice%>"  <%=Price!=0?"readonly":""%>/>
                           <span class="input-group-addon">元</span>
                       </div>
                   </div>
                   <div class="row">
                       <div class="input-group">
                           <span class="input-group-addon">折扣</span>
                           <input type="text" id="modal_disCount" class="form-control" placeholder="折扣" value="100"  <%=Price!=0?"readonly":""%>/>
                           <span class="input-group-addon">％</span>
                       </div>
                   </div>
                   <div class="row">
                       <div class="input-group">
                           <span class="input-group-addon">备注</span>
                           <input type="text" id="modal_remark" class="form-control" placeholder="商品相关信息"/>
                       </div>
                   </div>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                   <button type="button" class="btn btn-primary" id="modal_ok">确定</button>
               </div>
           </div>
       </div>
</script>

<script type="text/javascript">
    //#region 声明命名空间
    if (window.Plu == undefined) {
        Tools.Namespace.register("window.Plu");
    }
    //#endregion

    //#region 声明PluModel
    if (window.Plu.PluModel == undefined) {
        window.Plu.PluModel = Backbone.Model.extend({
            defaults: {
                "OrgCode": "",
                "DepId": 0,
                "DepCode": "",
                "ShpId": 0,
                "ShpCode": "",
                "PluId": 0,
                "PluCode": "",
                "PluName": "",
                "ExPluCode": "",
                "BarCode": "",
                "Unit": "",
                "Spec": "",
                "Price": 0,
                "HyPrice": 0
            }
        });
    }
    //#endregion

    //#region   声明PluList
    if (window.Plu.PluList == undefined) {
        window.Plu.PluList = Backbone.Collection.extend({
            url: "../api/PluApi",
            model: window.Plu.PluModel
        });
    }
    //#endregion

    //#region 声明PluView
    if (window.Plu.PluView == undefined) {
        window.Plu.PluView = Backbone.View.extend({
            tagName: "div",
            className: "panel panel-info col-xs-9",
            maxPage: 1,
            curPage: 1,
            template: _.template($("#tempPluList").html()),
            render: function () {
                this.$el.html(this.template({ pluList: pluList.toJSON(pluList), maxPage: this.maxPage, curPage: this.curPage }));
                location.hash = "show";
            },
            events: {
                "click #btnFilter": "doPluFilter"
            },
            loadPlu: function () {
                pluList.fetch({
                    data: {
                        filterType: filterView.filterType,
                        filterValue: filterView.filterValue
                    },
                    success: function (collection, response, options) {
                        //获取商品成功
                        pluView.maxPage = Math.ceil( response.length / 10);
                        pluView.curPage = 1;
                        pluView.render();
                    },
                    error: function (collection, response, options) {
                        //获取商品失败
                        alert("获取商品信息失败！");
                    }
                });
            },
            goToPage: function (page) {
                pluView.curPage = page;
                $("#cur_page").html("第"+page+"页");
                pluView.render();
            },
        });
    }
    //#endregion

    //#region 声明PluModalView
    if (window.Plu.PluModalView == undefined) {
        window.Plu.PluModalView = Backbone.View.extend({
            plu:null,
            events: {
                "click button": "doClickButton",
                "change input":"doChangeValue"
            },
            doClickButton: function (e) {
                if ($(e.currentTarget).attr("id") == "modal_ok") {
                    //点击确定
                    var remark=$("#modal_remark").val();
                    var price=$("#modal_price").val();
                    var fsPrice=$("#modal_fsPrice").val();
                    var disCount=$("#modal_disCount").val();
                    var xsCount = $("#modal_xsCount").val();
                    if (price== "0"||fsPrice=="") {
                        alert("原价不能为空");
                        return;
                    }
                    if (fsPrice == "0"||fsPrice=="") {
                        alert("现价不能为空");
                        return;
                    }
                    if (xsCount == "0"||xsCount=="") {
                        alert("销售数量不能为空");
                    }
                    var salePlu = new window.Sale.SalePluModel({
                        "LnNo": lnNO++,
                        "PluId": this.plu.get("PluId"),
                        "PluCode": this.plu.get("PluCode"),
                        "PluName": this.plu.get("PluName"),
                        "Price": parseFloat(price),
                        "FsPrice": parseFloat(fsPrice),
                        "XsCount": parseInt(xsCount),
                        "XsTotal":Math.round( xsCount*fsPrice*100)/100,
                        "DisCountOff": parseFloat(disCount),
                        "Remark": remark,
                        "PluImage":this.plu.get("PluImage")
                    });
                    salePluList.add(salePlu);
                    menuView.setSaleCount();
                    this.hide();
                }
            },

            doChangeValue: function (e) {
                switch($(e.currentTarget).attr("id")){
                    case "modal_price":
                        if (this.$el.find("#modal_fsPrice").val() == "0") {
                            this.$el.find("#modal_fsPrice").val($(e.currentTarget).val());
                        }
                        break;
                    case "modal_fsPrice":
                        if (this.$el.find("#modal_price").val() == "0") {
                            this.$el.find("#modal_price").val($(e.currentTarget).val());
                        }
                        else {
                            var disCount = Math.round( this.$el.find("#modal_fsPrice").val() / this.$el.find("#modal_price").val() * 100*100)/100;
                            this.$el.find("#modal_disCount").val(disCount);
                        }
                        break;
                    case "modal_disCount":
                        break;
                    case "modal_remark":
                        break;
                }
            },

            hide:function(){
                this.$el.modal("hide");
            },
            template:_.template($("#tempPluModal").html()),
            render: function (plu) {
                this.$el.html(this.template(plu.toJSON(plu)));
            },
            show: function (plu) {
                this.plu = plu;
                this.render(plu);
                this.$el.modal("show");
            }
        });
    }
    //#endregion

    //#region   声明FilterView
    if (window.Plu.FilterView == undefined) {
        window.Plu.FilterView = Backbone.View.extend({
            filterValue: "",
            filterType: 0,
            events: {
                "click label": "clickType"
            },
            clickType: function (e) {
                var type = $(e.currentTarget).children("input").val();
                if (type == 0) {
                    $("#filterValue").val("");
                }
                this.filterType = type;
                this.filterValue = $("#filterValue").val();
                pluView.loadPlu();
            }
        });
    }
//#endregion
</script>

<script type="text/javascript">
    var pluView;
    var pluList; //商品列表
    var filterView;//过滤器
    var pluModalView;//大码商品
    $(function () {
        pluView = new window.Plu.PluView({
            el: "#pluListView"
        });
        filterView = new window.Plu.FilterView({
            el: "#pluFilter"
        })
        pluModalView = new window.Plu.PluModalView({
            el: "#pluModal"
        });
        pluList = new window.Plu.PluList(); //商品列表
        pluView.loadPlu();
    });
</script>
<div class="panel-body">
    <div class="navbar" id="pluFilter">
        <div class="navbar-form navbar-left">
            <div class="form-group col-xs-4">
                <input id="filterValue" type="text" class="form-control" placeholder="条码、编码或品名"/>
            </div>
            <div class="btn-group col-xs-4" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" value="0"/>全部
                </label>
                <label class="btn btn-default">
                    <input type="radio" value="1"/>过滤
                </label>
            </div>
            <div class="input-group col-xs-4 pull-right">
                <span class="input-group-addon" id="cur_page">第1页</span>
                <input type="text" id="pageJump" class="form-control" placeholder="页码">
                 <span class="input-group-btn">
                    <a class="btn btn-default" href="#jumpToPage" type="button">跳转</a>
                  </span>
            </div>

        </div>   
    </div>

    <div id="pluModal" class="modal fade" role="dialog" aria-labelledby="modal_pluName" aria-hidden="true">
   
    </div>

    <div id="pluListView" class="media-list" >

    </div>
</div>
