<div class="row">
    <div class="col-xs-1">
        <label class="text-primary">选择</label>
    </div>
    <div class="col-xs-3">
        <label class="text-primary">商品</label>
    </div>
    <div class="col-xs-3">
        <label class="text-primary">备注</label>
    </div>
    <div class="col-xs-1">
        <label class="text-primary">售价</label>
    </div>
    <div class="col-xs-1">
        <label class="text-primary">数量</label>
    </div>
    <div class="col-xs-1">
        <label class="text-primary">小计</label>
    </div>
    <div class="col-xs-2">
        <label class="text-primary">操作</label>
    </div>    
</div>