<script type="text/template" id="tempDetail">
    <%for(var i=0;i<salePluList.length;i++){%>
    <div class="list-group-item media">
        <div class="list-group-item-body">
            <img class="media-object col-xs-2" src="../Content/images/<%=salePluList[i].PluImage%>.jpg">
            <div class="col-xs-3">
                <h4 class="text-primary"><%=salePluList[i].PluCode%> - <%=salePluList[i].PluName%></h4>
                <p class="text-muted"><%=salePluList[i].Remark%></p>
            </div>
            <div class="col-xs-2">
                <h5 class="text-info">原价：<span class="label label-primary">￥<%=salePluList[i].Price%></span></h5>
                <h5 class="text-info">现价：<span class="label label-danger">￥<%=salePluList[i].FsPrice%></span></h5>
            </div>
            <div class="col-xs-3">
                <div class="input-group" style="padding-top:10px">
                    <span class="input-group-btn">
                        <a class="btn btn-default" href="#salePluMinus/<%=i%>">-</a>
                    </span>
                    <input type="text" class="form-control" id="xsCount_<%=i%>" data-index="<%=i%>" value="<%=salePluList[i].XsCount%>"/>
                    <span class="input-group-btn">
                        <a class="btn btn-default" href="#salePluPlus/<%=i%>">+</a>
                    </span>
                </div>
            </div>
            <div class="col-xs-1">
                <h5><span class="label label-primary">￥<%=Math.round(salePluList[i].XsTotal*100)/100%></span></h5>
            </div>
            <div class="col-xs-1">
                <div style="padding-top:10px">
                    <a class="btn btn-default" href="#deleteSalePlu/<%=i%>">删除</a>
                </div>
                
            </div>
        </div>
    </div>
    <%}%>
</script>

<script type="text/javascript">
    if (window.Sale.SaleDetailView == undefined) {
        window.Sale.SaleDetailView = Backbone.View.extend({
            initialize: function () {
                this.render();
            },
            events: {
                "change input": "xsCountChange"
            },
            xsCountChange: function (e) {
                var index = $(e.currentTarget).attr("data-index");
                var count=$(e.currentTarget).val();
                router.navigate("salePluChangeCount/" + index+"&"+count, { trigger: true });
            },
            template:_.template($("#tempDetail").html()),
            render: function () {
                
                this.$el.html(this.template({ "salePluList": salePluList.toJSON(salePluList) }));
                location.hash = "show";
                var total=0;
                for (var i = 0; i < salePluList.length; i++) {
                    total += Math.round(salePluList.at(i).get("XsTotal") * 10000) / 10000;
                }
                $("#zf_total").html("合计：￥" + Math.round( total*100)/100);
            }
        });
    }
</script>

<script type="text/javascript">
    var saleDetailView;
    $(function () {
        saleDetailView = new window.Sale.SaleDetailView({
            el: "#saleDetailView"
        });
    })
</script>

<div class="panel-body">
    <div class="navbar">
        <div class="navbar-form navbar-right form-inline">
            <a class="btn btn-default" href="#clearSalePlu">清空购物车</a>
        </div>   
    </div>

    <div class="row">
        <div class="col-xs-5">
            <label class="text-primary">商品</label>
        </div>
        <div class="col-xs-2">
            <label class="text-primary">单价</label>
        </div>
        <div class="col-xs-3">
            <label class="text-primary">数量</label>
        </div>
        <div class="col-xs-1">
            <label class="text-primary">小计</label>
        </div>
        <div class="col-xs-1">
            <label class="text-primary">操作</label>
        </div>    
    </div>
    <div class="row">
        <div class="media-list" id="saleDetailView">

        </div>
    </div>

    <div class="navbar">
        <div class="navbar-form navbar-right form-inline">
            <label class="text-primary" id="zf_total">合计：￥200</label>
        </div>   
    </div>
</div>
