<script type="text/template" id="vipShow">
    <div class="row">
        <table class="table table-striped text-warning">
            <thead>
                <tr><td>基础信息</td></tr>
            </thead>
            <tbody>
                <tr>
                    <td>卡号：<%=VipCardNO%></td>
                    <td>姓名：<%=VipName%></td>
                    <td>注册时间：<%=Regdate%></td>
                </tr>
                <tr>
                    <td>性别：<% if(Gender=="1"){%><%="男"%><%}%></td>
                    <td>卡类型：<%=CardTypeName%></td>
                    <td>出生日期：<%=Birthday%></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table table-striped text-warning">
            <thead>
                <tr><td>销售帮助</td></tr>
            </thead>
            <tbody>
                <tr>
                    <td>...</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table table-striped text-warning">
            <thead>
                <tr><td>客层信息收集</td></tr>
            </thead>
            <tbody>
                <tr>
                    <td>...</td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/javascript">
    //#region 声明命名空间
    if (window.Vip == undefined) {
        Tools.Namespace.register("window.Vip");
    }
    //声明VipModel
    if (window.Vip.VipModel == undefined) {
        window.Vip.VipModel = Backbone.Model.extend({
            defaults: {
                "VipCardNO": "",
                "VipName": "",
                "CardTypeCode": "",
                "CardTypeName":"",
                "Birthday": "",
                "Mobile": "",
                "Gender": "1",
                "Regdate": "",
                "Enddate":""
            }
        });
    }

    //声明VipList
    if (window.Vip.VipList == undefined) {
        window.Vip.VipList = Backbone.Collection.extend({
            model: window.Vip.VipModel,
            url:"../api/VipApi"
        });
    }

    //声明VipShowView
    if (window.Vip.VipShowView == undefined) {
        window.Vip.VipShowView = Backbone.View.extend({
            template: _.template($("#vipShow").html()),
            render: function (vip) {
                this.$el.html(this.template(vip));
            }
        });
    }

</script>

<script type="text/javascript">
    var vipList;
    var vipShowView;
    $(function () {
        vipList = new window.Vip.VipList();
        vipShowView = new window.Vip.VipShowView({
            el: "#vipPanel"
        });
        var curVip;
        if (sessionStorage.hasOwnProperty("curVip")) {
            curVip=JSON.parse(sessionStorage.getItem("curVip"));
        }
        else {
            var vipModel = new window.Vip.VipModel();
            curVip = vipModel.toJSON(vipModel);
        }
        vipShowView.render(curVip);
    })
</script>
<div class="row">
    <table class="table table-striped text-warning">
        <tbody>
            <tr>
                <td>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input id="no" type="text" class="form-control" placeholder="卡号或手机号"/>
                        </div>
                        <a class="btn btn-default" href="#logonVip">确定</a>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="vipPanel">

</div>